<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
    <a href="/detecting">
    <img src= {{url_for('static', filename="images/V006_79_1_15_07_03_12_3_8540w_20201116_171_a0006.jpg")}} height = "500px" width = "1000px", class="rounded mx-auto d-block" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h5>질병인지 확인하고 싶을땐?</h5>
      <p>Please click on the Picture</p>
    </div>
    </a>
  </div>
    <div class="carousel-item" data-bs-interval="5000">
      <a href="/best_env">
      <img src={{url_for('static', filename="images/V006_79_0_00_07_01_13_0_c13_20201223_0078_S01_1.jpg")}} height = "500px" width = "1000px", class="rounded mx-auto d-block" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>당도, 과중, 산도를 예측하고 싶을땐?</h5>
        <p>Please click on the picture.</p>
      </div>
      </a>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <a href="/growth">
      <img src= {{url_for('static', filename="images/V006_79_0_00_07_02_13_0_c06_20201223_0000_S01_1.jpg")}} height = "500px" width = "1000px", class="rounded mx-auto d-block" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>토마토 생장 단계를 알고 싶을땐??</h5>
      <p>Please click on Picture</p>
      </div>
      </a>

    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>